
/* here header class */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    background-image: url(/images/background-images/Match-de-ping-pong-23.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.header {
    
    display: flex;
    padding: 25px;
    position: relative;
    justify-content: space-between;
}

.header #media a {
    text-decoration: none;
    font-size: medium;
    color: white;
    padding-left: 15px;
    cursor: pointer;
}

.header #privacy a {
    text-decoration: none;
    font-size: medium;
    color: white;
    padding-left: 15px;
    cursor: pointer;
}

.main-content {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.main-content .section-1 h4 {
    display: none;
}

.main-content .section-1 h1 {
    font-size: 5.313rem;
    padding: 10px;
    color: orange;
    word-spacing: 5px;
    text-shadow:
    -5px -5px 0px #333,
    5px -5px 0px #333,
    5px 5px 0px #ccc,
    -5px 8px 0px #467bd7;
}

.main-content .section-1 h3 {
    font-size: 45px;
    margin-bottom: 5rem;
    word-spacing: 5px;
}

.main-content .section-1 a {
    text-decoration: none;
    font-size: 35px;
    padding: 19px;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 35px;
    background-color: #3EF8B5;
    margin: 2px;
    
}

.main-content .section-1 a:hover {
    background-color: black;
    color: #3EF8B5;
}

.main-content #footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    word-spacing: 2px;
    margin: 9px;
    margin-bottom: 0;
}

.main-content #footer .one {
    font-size: 28px;
    color: #458AF2;
    padding: 7px;
}

.main-content #footer .two {
    font-size: 25px;
    color: #2EB3DD;
    padding-left: 7px;
}

.main-content #footer #play {
    display: flex;
    flex-direction: row-reverse;
    color: #CEA53C;
}

.main-content #footer #para {
    color: #E32C2C;
}

.wrappe {
    position: relative;
    margin: auto;
    width: 950px;
    height: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    background-color: rgba(42, 112, 155, 0.5);
    backdrop-filter: blur(20px);
    justify-content: space-between;
    display: flex;
    color: white;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrappe .form-box.register {
    position: relative;
    margin: 0;
}

.wrappe .icon-close {
    position: absolute;
    top: 0;
    color: #fff;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}


.wrappe .formm {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
}

    .wrappe  .formm a {
        text-decoration: none;
        color: black;
    }


.wrappe .form-box {
    padding: 45px;
}

.wrappe .image {
    width: 50%;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
}

.wrappe .to-log {
    align-items: start;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 30px;
}

.wrappe .to-log #up{
    padding: 15px 35px 15px 35px;
    margin: 3px;
    border-radius: 14px;
    background-color: rgba(32, 138, 203, 0.5);
    cursor: pointer;
}

.wrappe .to-log #up:hover{
    background-color: black;
}

.wrappe .to-log #in{
    padding: 15px 35px 15px 35px;
    margin: 3px;
    border-radius: 14px;
    background-color: rgba(32, 138, 203, 0.5);
    cursor: pointer;
}
.wrappe .to-log #in:hover{
    background-color: black;
}

.wrappe .login-with-intra {
    font-size: 25px;
    display: flex;
    margin: 5px;
    border-radius: 16px;
    padding: 10px;
    background-color: rgba(17, 146, 216, 0.5);
    align-items: center;
    margin-bottom: 20px;
}

.wrappe .login-with-intra img{
    width: 50px;
    height: 50px;
}

.wrappe .login-with-intra h3 a{
    padding-left: 25px;
     text-decoration: none;
    color: black;
}

.wrappe .login-with-google {
    font-size: 25px;
    margin: 5px;
    display: flex;
    border-radius: 16px;
    padding: 10px;
    background-color: rgba(17, 146, 216, 0.5);
    align-items: center;
    margin-bottom: 20px;
}

.wrappe .login-with-google img {
    width: 50px;
    height: 50px;
}

.wrappe .login-with-google h3 a{
    padding-left: 25px;
    text-decoration: none; 
    color: black;
}

.wrappe .or-login{
    font-size: 25px;
    margin: 5px;
    display: flex;
    padding: 15px;
    justify-content: center;
}

.wrappe .input-box {
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 15px;
}

.wrappe .input-box input:focus~label,
.wrappe  .input-box input:valid~label {
    top: -3px;
}

.wrappe  .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;    
}

.wrappe  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;    
}

.wrappe  .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.wrappe  .btn{
    width: 100%;
    height: 45px;
    background: #162938;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;
}

.wrappe.active .form-box.Sign-in {
    transition: none;
    transform:  translateX(-950px);
    display: none;
}

.wrappe .form-box.Sign-in {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrappe.active .form-box.register {
    
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrappe .form-box.register {
    display: flex;
    transition: none;
    transform: translateX(450px);
}  

/* with js wrappe */

.wrappe.active-popup {
    transform: scale(1);
}

/* ------- ------- ------- ------ ------- */

@media (max-width:660px) {
    body {
        margin: 0;
        min-height: 100vh;
        background-image: url(/images/background-images/ezgif-3-6afedc263c.png);
        background-repeat: no-repeat;
    }

    .main-content {
        height: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
    }

    .responsive {
        min-height: 65vh;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main-content .section-1 h1 {
        display: flex;
        justify-content: center;
        font-size: 55px;
        padding: 10px;
        color: orange;
        word-spacing: 5px;
        text-shadow:
        -5px -5px 0px #333,
        5px -5px 0px #333,
        5px 5px 0px #ccc,
        -5px 8px 0px #467bd7;
    }

    .main-content .section-1 h4 {
        display: flex;
        font-size: 45px;
        word-spacing: 5px;
        margin: 5px;
    }

    .main-content .section-1 h3 {
        display: none;
    }

    .main-content #footer {
        display: none;
    }

    .main-content .section-1 a {
        text-decoration: none;
        font-size: 30px;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 25px;
        background-color: #3EF8B5;
        margin: 1px;
    }

    .main-content .section-1 a:hover {
        background-color: black;
        color: #3EF8B5;
    }
}

@media (max-width: 955px){
    .wrappe {
        position: relative;
        margin: auto;
        width: 500px;
        height: 800px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius: 20px;
        background-color: rgba(42, 112, 155, 0.5);
        backdrop-filter: blur(20px);
        justify-content: space-between;
        display: flex;
        color: white;
        overflow: hidden;
        transform: scale(0);
        transition: transform .5s ease, height .2s ease;
    }

    .wrappe .image {
        width: 0;
        display: none;
    }
}
