* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

            /* justify-content: center; */
}

body {
    background-color: #E4E9F7;
}

/* ======== here are first party header ========== */

.sitting {
    
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: 70px;

}

.sitting .sheader {
    width: 90%;
    min-height: 20vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.sitting .sheader #profile {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 50px;
}

.sitting .sheader #profile img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 9px;
}

.sitting .sheader a {
    text-decoration: none;
    color: #707070;
    font-size: 19px;
    /* font-style: oblique; */
    font-weight: bold;
    background-color: #FFF;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;

}


/* ======== here are content to change your information ========== */

.sitting .content {
    /* height: 0vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

}

.sitting .input-box {
    position: relative;
    width: 95%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 15px;
}

.sitting .input-box input:focus~label {
    top: -3px;
}


.sitting .content .input-box {
    position: relative;
    width: 100%;
    margin: 15px;
}

.sitting .content .input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1rem;
    color:#707070 ;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;


}

.sitting .content .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;

}

.sitting .content .input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.sitting .content .btn  {
    width: 100%;
    height: 45px;
    background-color: #fff;
    color: #707070;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 500;

}

